.question {
    input[type="radio"] {
        // display: none;

        +label {
            background-color: #eee;
            border: 1px solid #ccc;
            padding: 2px 4px;
            cursor: pointer;
        }

        &:checked+label {
            font-weight: 700;
        }
    }
}