@import "./palette.scss";

body {
  font-family: 'Karla', sans-serif;
}



html,
body,
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
  padding: 0;
}

// ------------------------------

html,
body,
#root {
  height: 100%;
  width: 100%;
  background-color: $color_white;
  color: $color_dark;
}

button {
  border: none;
  cursor: pointer;
  background-color: $color_regular;
  color: $color_white;
  border-radius: 10px;
  padding: 4px 12px;

  &:hover {
    background-color: lighten($color_regular, 4%);
  }
}

// #root {
//   // background-color: #fdc;
//   min-height: 100%;
// }